<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>フォントの確認</title>
    <link rel="stylesheet" href="reset.css"/>
    <link rel="stylesheet" href="fonts.css"/>
  </head>

  <body>
    <div id="app">
      <div style="margin-bottom: 30px">
        文字　：<textarea v-model="text" style="width: 80%" rows="3"></textarea>
        <br />
        サイズ：<input type="range" min="5" max="200" style="width: 50%" v-model="size" />
        {{size}} px
      </div>

      <div class="flex-container">
        <div class="flex-item" v-for="k in Object.keys(fonts)">
          <label :class="{active: checks.includes(k)}">
            {{fonts[k].name}}
            <input type="checkbox" class="check-hidden" v-model="checks" :value="k" />
          </label>
        </div>
      </div>

      <hr />

      <table>
        <tr>
          <th>Name</th>
          <th>Preview</th>
        </tr>
        <tr v-for="k in checks">
          <th class="title">{{fonts[k].name}}</th>
          <td class="cell">
            <div :class="fonts[k].font" :style="{ 'font-size': fontSize }">{{text}}</div>
          </td>
        </tr>
      </table>
    </div>

    <script type="importmap">
      {
        "imports": {
          "vue": "https://cdn.jsdelivr.net/npm/vue@3/dist/vue.esm-browser.prod.js"
        }
      }
    </script>

    <script type="module">
      import { createApp } from "vue";
      import FONTS from "./fonts.json" with { type: "json" };

      createApp({
        data() {
          return {
            fonts: FONTS,
            text: "123456789012345678901234567890\n㋿5年度 文字の確認大会",
            size: 10,
            checks: ["windows"],
          };
        },
        computed: {
          fontSize() {
            return `${this.size}px`;
          },
        },
        created() {
          this.checks = Object.keys(this.fonts).slice(0, 4);
        },
      }).mount("#app");
    </script>
  </body>
</html>
